* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  letter-spacing: 1px;
  width: 1440px;
}
img {
  float: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 600px;
}

.container {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  width: 800px;
  height: 600px;
}
.text {
  padding: 1rem;
  overflow: hidden;
  width: 400px;
  height: 600px;
}
.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 50px;
  padding: 0.9rem;
}
.perfume {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1rem;
}
.paragraph {
  font-size: 22px;
  color: hsl(228, 12%, 48%);
  padding: 1rem;
}
.price {
  padding: 1rem;
}

.price .realPrice {
  padding: 30px;
  color: hsl(158, 36%, 37%);
  font-family: 'Fraunces', serif;
  font-weight: 500;
  font-size: 40px;
}
.price .oldPrice {
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  position: relative;
  top: -5px;
}
.perfume {
  color: hsl(228, 12%, 48%);
  padding-left: 1em;
}
.btn {
  margin-top: 1rem;
  border-radius: 10px;
  background-color: hsl(158, 36%, 37%);
  width: 80%;
  height: 50px;
  color: hsl(0, 0%, 100%);
  border: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.attribution {
  display: block;
  position: absolute;
  right: 2px;
  bottom: 0;
}
@media screen and (max-width: 375px) {
  body {
    width: 375px;
    height: auto;
  }
  img {
    width: 100%;
    height: 40%;
    position: relative;
    float: left;
    border-radius: 10px 10px 0 0;
  }
  .container {
    position: absolute;
    border-radius: 10px;
    width: 98%;
    height: auto;
    margin: 10px;
    word-wrap: break-word;
  }
  .text {
    padding: 0;
  }
  .btn {
    left: 42%;
  }
  .attribution {
    display: none;
  }
}
